<%- include('partials/head') %>
   <!-- Inclusão do Menu de Navegação -->
    <%- include('partials/nav') %>
  <header>
    <h1>Bem-vindo ao Nosso Restaurante!</h1>
  </header>
  <p>Experimente nossas especialidades deliciosas e desfrute de um ambiente acolhedor.</p>
  <img src="img/restaurante.png" alt="Nosso restaurante acolhedor com ambiente elegante">
<%- include('partials/footer') %>